*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    color: white;
}

h1{
    background: linear-gradient(to bottom, magenta, greenyellow);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4em;
    margin: 0;
    padding: 0;
    transition: background-color 200ms ease;
}

h1:hover{
    background: linear-gradient(to bottom, greenyellow, magenta);
    background-clip: text;
}

h2{
    font-size: 1.7em;
}

h3{
    font-size: 1.8em;
    margin: 0;
    padding: 0;
}

h4{
    font-size: 1.2rem;
    color: white;
    text-shadow: 3px 3px 5px black;
    margin-bottom: 10px;
}

/* SECTION'S CLASSES */
.header{
    align-items: center;
    background: linear-gradient(to bottom, black, black, white);
    display: flex;
    grid-area: H;
    height: fit-content;
    justify-content: space-between;
    padding: 2rem;
}

.motivation{
    border-radius: 15px 15px 15px 15px;
    display: flex;
    grid-area: T;
    justify-content: center;
    margin: 0;
    padding: 20px;
    min-height: 70vh;
}

.vidMotivation{
    border-radius: 20px;
    min-width: 100%;
}

.main{
    border-radius: 15px 15px 15px 15px;
    display: grid;
    grid-area: M;
    grid-template-columns: auto;
    min-height: 40vh;
    padding-bottom: 20px;
    text-align: center;
}

.aside{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    grid-area: A;
    justify-items: center;
    justify-content: space-between;
    min-height: 40vh;
}

.footer{
    background: linear-gradient(to top, black, black, white);
    grid-area: F;
    min-height: 20vh;
}

.container{
    display: grid;
    gap: 5px;
    grid-template-areas: 
    "H H H H"
    "T T T T"
    "M M M A"
    "M M M A"
    "F F F F";
}
/* HEADER */
.tittle{
    width: fit-content;
    height: fit-content;
    margin: 0;
    padding: 0;
}

.navList{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    list-style-type: none;
}

.navList li a{
    color: white;
    font-size: 1.5em;
    text-decoration: none;
    transition: text-shadow 100ms ease-in-out, transform 100ms ease-in-out;
}

.navList li a:hover{
    text-shadow: 2px 2px 10px white;
    transform: scale(1.1);
}

.openMenu, .closeMenu{
    border-radius: 15px ;
    border: none;
    cursor: pointer;
    display: none;
    height: 4em;
    width: 4em;
}

.openMenu:hover{
    box-shadow: 1px 1px 10px black, -1px -1px 10px black;
    transform: scale(1.1);
}

.closeMenu:hover{
    box-shadow: 1px 1px 10px white, -1px -1px 10px white;
    transform: scale(1.1);
}

/* MAIN */
.tittleCard{
    width: 90%;
    margin: 10px 0 10px 0;
    background: linear-gradient(to left,white, black, white);
}

.card{
    align-items: end;
    border: 1px solid black;
    border-radius: 40px;
    cursor: pointer;
    display: flex;
    min-height: 30vh;
    min-width: 20vw;
    max-width: 20vw;
    margin: auto;
    justify-content: center;
    margin-bottom: 10px;
    transition: transform 100ms ease-in-out, box-shadow 100ms ease-in-out;
    background-size: cover;
    background-position: center;
}

.card:hover{
    box-shadow: 5px 5px 10px black, -5px -5px 10px black;
    transform: scale(1.1);
}

/* CONTAINER CARDS */
.containerCards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
    padding: 0;
    gap: 20px;
    transition: 100ms;
    width: 100%;
}

.containerCards #plan30Dias{
    background-image: url("../assets/images/Entrenamiento/desafio-30-dias.jpg");
}

.containerCards #planFullBody{
    background-image: url("../assets/images/Entrenamiento/full-body.jpg");
}

.containerCards #planFullBody2{
    background-image: url("../assets/images/Entrenamiento/full-body-2.jpg");
}

.containerCards #planPersBasic{
    background-image: url("../assets/images/Entrenamiento/personalizado-basic.jpg");
}

.containerCards #planPersFull{
    background-image: url("../assets/images/Entrenamiento/personalizado-full.jpg");
}

.containerCards #planPersPrem{
    background-image: url("../assets/images/Entrenamiento/personalizado-premium.jpg");
}

.containerCards #planPersVip{
    background-image: url("../assets/images/Entrenamiento/personalizado-vip.jpg");
}

.containerCards #oatmealOmelette{
    background-image: url("../assets/images/Recetas/tortilla-de-avena.png");
}

.containerCards #beaten{
    background-image: url("../assets/images/Recetas/batido-detox.jpg");
}

.containerCards #pizza{
    background-image: url("../assets/images/Recetas/pizza-sin-harina.png");
}

.containerCards #tacos{
    background-image: url("../assets/images/Recetas/tacos-crocantes.jpg");
}

.containerCards #brownie{
    background-image: url("../assets/images/Recetas/brownie-saludable.png");
}

.containerCards #training{
    background-image: url("../assets/images/Tips/tips-entrenamientos.jpg");
}

.containerCards #feeding{
    background-image: url("../assets/images/Tips/tips-alimentacion.jpg");
}

.containerCards #habits{
    background-image: url("../assets/images/Tips/tips-habitos.jpeg");
}

/* ASIDE */
.extraContent{
    border: 1px solid black;
    border-radius: 15px 15px 15px 15px;
    cursor: pointer;
    text-align: center;
    max-width: 80%;
    margin: 30px 0 30px 0;
    transition: transform 100ms ease-in-out, box-shadow 100ms ease-in-out, background-color 100ms ease-in-out;
}

.extraContent:hover{
    box-shadow: 5px 5px 10px black, -5px -5px 10px black;
    background-color: rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
}

/* FOOTER */
.socialMedia{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.socialMedia div:first-child{
    width: 100%;
    padding-left: 10px;
}

.socialMedia div:not(div:first-child){
    padding-bottom: 20px;
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    min-height: 10vh;
}

.socialMedia a{
    display: flow-root;
    transition: transform 200ms ease-in-out;
}

.socialMedia a:hover{
    transform: scale(1.2);
}

.socialMedia a i{
    color: white;
    font-size: 4em;
}

.socialMediaContact{
    max-width: 7em;
    padding: 0;
    transition: transform 300ms ease-in-out;
    width: 7vw;
}


/* OWNER */
.Owner{
    margin: auto;
    padding-bottom: 10px;
    text-align: center;
    width: 95vw;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1050px){
    .container{
        grid-template-areas: 
        "H H H H"
        "T T T T"
        "M M M M"
        "A A A A"
        "F F F F";
    }

    .aside{
        min-height: 40vh;
        flex-direction: row;
        justify-content: center;
    }

    .extraContent{
        margin: 20px;
    }

    .openMenu, .closeMenu{
        display: block;
    }

    .closeMenu{
        margin-top: 10px;
    }
    
    .nav{
        align-items: end;
        background-color: black;
        border-radius: 80px 0 0 80px;
        bottom: 0;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
        display: flex;
        flex-direction: column;
        gap: 1rem;
        opacity: 0;
        position: fixed;
        padding: 2rem;
        right: 0;
        top: 0;
        visibility: hidden;
        width: fit-content;
    }

    .navList{
        align-items: end;
        flex-direction: column;
        z-index: 1;
    }

    .navList li a{
        color: white;
    }

    .navList li a:hover{
        text-shadow: 2px 2px 10px white;
    }

    .nav.visible{
        opacity: 1;
        visibility: visible;
    }

    .hiddenAll{
        z-index: -1;
    }

    .card{
        min-width: 25vw;
        min-height: 40vh;
    }
}

@media screen and (max-width: 815px){
    .card{
        min-width: 40vw;
    }

    .extraContent{
        width: 40%;
    }

    .navList li a{
        font-size: 1em;
    }
}

@media screen and (max-width: 600px){
    
    .tittle h1{
        font-size: 3em;
    }

    .tittleCard h3{
        font-size: 1.3em;
    }

    .card{
        border-radius: 40%;
        min-width: 40vw;
        min-height: 30vh;
    }

    .extraContent{
        width: 50%;
    }

    .motivation{
        min-height: 40vh;
    }
}

@media screen and (max-width: 500px){
    .tittle h1{
        font-size: 2.5em;
    }

    .card{
        border-radius: 40%;
        min-width: 40vw;
        min-height: 20vh;
    }

    .openMenu, .closeMenu{
        width: 3em;
        height: 3em;
    }
}
