/* ESTILOS GENERALES */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    color: white;
}

h1{
    background: linear-gradient(to bottom, magenta, greenyellow);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4em;
    margin: 0;
    padding: 0;
    transition: background-color 200ms ease;
}

h1:hover{
    background: linear-gradient(to bottom, greenyellow, magenta);
    background-clip: text;
}

h2{
    color: white;
    font-size: 1.7em;
    text-shadow: 3px 3px 5px black;
}

h3{
    font-size: 1.8em;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}

i{
    -webkit-text-stroke: 0.6px black;
}

.header{
    align-items: center;
    background: linear-gradient(to bottom, black, black, white);
    display: grid;
    grid-area: H;
    height: fit-content;
    justify-content: center;
    padding: 2rem;
}

.mainTP{
    display: grid;
    gap: 10px;
    grid-area: MTP;
    text-align: center;
    min-height: 40vh;
    padding-bottom: 20px;
}

.footer{
    background: linear-gradient(to top, black, black, black, white);
    grid-area: F;
    min-height: 20vh;
}

.tittle{
    width: fit-content;
    height: fit-content;
    margin: 0;
    padding: 0;
}

/* MAIN */
.containerDescription{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    text-align: center;
}

.containerDescription .tittlePlan{
    color: black;
    font-size: 1.5rem;
}

.containerDescription .descriptionPlan{
    color: rgb(39, 39, 39);
    display: flex;
    font-size: large;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.containerDescription .descriptionPlan ul{
    list-style-type:georgian;
    list-style-position: inside;
}

.containerDescription .imagesPlan{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.containerDescription .imageDescriptionPlan{
    width: 20%;
    height: 10rem;
    box-shadow: 3px 3px 5px gray;
}

.containerDescription a{
    display: flow-root;
    width: 4rem;
    height: 2rem;
    margin: auto;
    cursor: pointer;
}

.containerDescription .btnsPlan{
    margin: auto;
    width: 30%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.containerDescription .btnBack{
    width: 4rem;
    height: 2rem;
    background: linear-gradient(to bottom, magenta, greenyellow);
    border-radius: 10px;
    border: none;
    box-shadow: 0.5px 0.5px 1px gray;
    cursor: pointer;
    transition: box-shadow 200ms ease-in-out, background-color 200ms ease-in-out;
}

.containerDescription .btnBack:hover{
    background: linear-gradient(to bottom, greenyellow, magenta);
    box-shadow: 1px 1px 5px black, -1px -1px 5px black;
}

/* FOOTER */
.socialMedia{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.socialMedia div:first-child{
    width: 100%;
    padding-left: 10px;
}

.socialMedia div:not(div:first-child){
    padding-bottom: 20px;
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    min-height: 10vh;
}

.socialMedia a{
    margin-top: 10px;
    display: flow-root;
    transition: transform 200ms ease-in-out;
}

.socialMedia a:hover{
    transform: scale(1.2);
}

.socialMedia a i{
    color: white;
    font-size: 4em;
}

.socialMediaContact{
    max-width: 7em;
    padding: 0;
    transition: transform 300ms ease-in-out;
    width: 7vw;
}

/* OWNER */
.Owner{
    margin: auto;
    padding-bottom: 10px;
    text-align: center;
    width: 95vw;
    color: white;
}

.imgFooter{
    width: 90%;
    background-color: black;
}

.imgFooter img{
    width: 80%;
}

/* CONTAINER */
.container{
    grid-template-areas: 
    "H H H H"
    "MTP MTP MTP MTP"
    "F F F F";
}